TZ=Asia/Tokyo

WEB_HOST_PORT=8080

# nodeの設定
NODE_VERSION=24.13.1
PNPM_VERSION=10.29.3

# dbの設定
DATABASE_USERNAME=myuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=mydatabase

NODE_ENV=production

# backend起動時にseedを流す場合のみ true
ENABLE_DB_SEED=true

# frontendが利用するAPIの公開URL
NEXT_PUBLIC_API_URL=/api