TZ=Asia/Tokyo

WEB_HOST_PORT=8080

# アプリケーションの実行環境
NODE_ENV=production

# nodeの設定
NODE_VERSION=24.13.1
PNPM_VERSION=10.29.3

# dbの設定
DATABASE_USERNAME=myuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=mydatabase

# prismaの設定
ENABLE_DB_SEED=true
ENABLE_PRISMA_STUDIO=true
PRISMA_STUDIO_HOST_PORT=5555

# frontendが利用するAPIの公開URL
NEXT_PUBLIC_API_URL=/api