TZ=Asia/Tokyo

# nodeの設定
NODE_VERSION=24.13.1
PNPM_VERSION=10.33.0

FRONTEND_PORT=3000
BACKEND_PORT=8000

# dbの設定
DATABASE_PORT=5432
DATABASE_USERNAME=myuser
DATABASE_PASSWORD=mypassword
DATABASE_NAME=mydatabase